.log-area {
    background-color: black;
}

.log-text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

.time {
    color: aquamarine;
}

.message-crit {
    color: white;
    background-color: red;
}

.message-err {
    color: red;
}

.message-warn {
    color: darkorange;
}

.message-debug {
    color: green;
}

.message-info {
    color: #ffffff;
}

.message {
    margin-left: 1ex;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

body {
    background-color: #1d1d1d;
}

h1, h2, .white-text {
    color: white;
}

.border-white {
    border: #ffffff;
    border-width: 2px;
}

.rotate-divider {
    border-top: 2px solid rgba(255, 255, 255, 1);
}

.rotated-text {
    opacity: 0.3;
}

.toggle {
    margin-left: 0px !important;
}

.checkbox-inline {
    margin-bottom: 0px !important;
}

.alerts-container {
    z-index: 1000;
}

html, body {
    height: 100%;
}

.toggle-handle {
    background-color: white;
}

@media screen and (max-width: 800px) {
    .log-text {
        flex-direction: column;
    }
}