{% extends "layout.html" %}
{% block body %}
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Bot control panel</title>
    {% endblock %}
</head>

<body class="h-100">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="position-absolute w-100 alerts-container">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show m-2" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container-fluid d-flex flex-column h-100 overflow-hidden">
        <div class="row mx-3 flex-grow-0">
            <div class="container-fluid">
                <div class="row">
                    <h1>Status: <span id="status" class=""></span></h1>
                    <a class="btn btn-secondary ml-auto my-2 mr-2" href="/logout" role="button">Log out</a>
                </div>
                <div class="row">
                    <button id="start" class="btn btn-success" disabled="true">Start</button>
                    <button id="stop" class="btn btn-danger ml-2" disabled="true">Stop</button>
                </div>
                <div class="row mt-2">
                    <h2 class="m-2">Log</h2>
                    <button class="btn btn-info ml-2 my-2" id="log-reload">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button class="btn btn-info m-2" id="log-download">
                        <i class="fas fa-download"></i>
                    </button>
                    <div class="mr-2 my-2 align-middle">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="custom-control-input" data-toggle="toggle"
                                data-onstyle="success" data-offstyle="danger" id="auto-scroll" checked>
                                <span class="text-white">Autoscroll</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div id="log-wrapper" class="flex-grow-1 log-area overflow-auto m-2 border border-white">
            <div id="log-area" class="overflow-hidden p-3">
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}