{% extends "layout.html" %}
{% block title %}<title>Login</title>{% endblock %}
{% block body %}

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alerts-container">
                        {% for message in messages %}
                        <div class="alert alert-danger mb-2" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.username(class_="form-control", placeholder="Username") }}
                        </div>
                        <div class="form-group">
                            {{ form.password(class_="form-control", placeholder="Password") }}
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}